#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none      &none       &none        &none        &none                                  &none        &none        &none        &none       &none        &none
&none  &kp SQT    &kp COMMA   &kp DOT      &kp P        &kp Y                                  &kp F        &kp G        &kp C        &kp R       &kp L        &none
&none  &kp A      &mt LALT O  &mt LCTRL E  &mt LSHFT U  &mt LGUI I                             &mt RGUI D   &mt RSHFT H  &mt RCTRL T  &mt RALT N  &kp S        &none
&none  &kp SEMI   &kp Q       &kp J        &kp K        &kp X        &none        &none        &kp B        &kp M        &kp W        &kp V       &kp Z        &none
&none  &kp EQUAL  &to 1       &lt 6 CAPS   &lt 2 TAB    &lt 5 ENTER  &lt 1 ESC    &lt 4 ENTER  &lt 3 SPACE  &none        &none        &none       &lt 5 MINUS  &none
            >;
        };

        layer_1 {
            bindings = <
&none  &none      &none       &none        &none        &none                                  &none        &none        &none        &none       &none        &none
&none  &kp Q      &kp W       &kp E        &kp R        &kp T                                  &kp Y        &kp U        &kp I        &kp O       &kp P        &none
&none  &kp A      &mt LALT S  &mt LCTRL D  &mt LSHFT F  &mt LGUI G                             &mt RGUI H   &mt RSHFT J  &mt RCTRL K  &mt RALT L  &kp COMMA    &none
&none  &kp Z      &kp X       &kp C        &kp V        &kp B        &none        &none        &kp N        &kp M        &kp SQT      &kp COMMA   &kp FSLH     &none
&none  &kp EQUAL  &to 0       &lt 6 CAPS   &lt 2 TAB    &lt 5 ENTER  &lt 1 ESC    &lt 4 ENTER  &lt 3 SPACE  &none        &none        &none       &lt 5 MINUS  &none
            >;
        };

        layer_2 {
            bindings = <
&none  &none   &none     &none      &none      &none                       &none        &none     &none      &none      &none   &none
&none  &trans  &trans    &trans     &trans     &trans                      &key_repeat  &kp PG_UP &kp UP     &kp PG_DN  &trans  &none
&none  &trans  &kp LALT  &kp LCTRL  &kp LSHFT  &kp LGUI                    &kp BSPC     &kp LEFT  &kp DOWN   &kp RIGHT  &trans  &none
&none  &trans  &trans    &trans     &trans     &trans    &none     &none   &kp DEL      &kp HOME  &kp K_APP  &kp END    &trans  &none
&none  &trans  &trans    &trans     &trans     &trans    &trans    &trans  &trans       &none     &none      &none      &trans  &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none     &none     &none     &none     &none                        &none     &none      &none      &none     &none   &none
&none  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                       &trans    &trans     &trans     &trans    &trans  &none
&none  &kp N6    &kp N7    &kp N8    &kp N9    &kp N0                       &kp RGUI  &kp RSHFT  &kp RCTRL  &kp RALT  &trans  &none
&none  &kp LBKT  &kp RBKT  &kp BSLH  &kp FSLH  &kp GRAVE  &none     &none   &trans    &trans     &trans     &trans    &trans  &none
&none  &trans    &trans    &trans    &trans    &trans     &trans    &trans  &trans    &trans     &trans     &trans    &trans  &none
            >;
        };

        layer_4 {
            bindings = <
&none  &none    &none    &none    &none    &none                      &none     &none      &none      &none     &none   &none
&none  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                     &trans    &trans     &trans     &trans    &trans  &none
&none  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10                    &kp RGUI  &kp RSHFT  &kp RCTRL  &kp RALT  &trans  &none
&none  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15  &none     &none   &trans    &trans     &trans     &trans    &trans  &none
&none  &trans   &trans   &trans   &trans   &trans   &trans    &trans  &trans    &trans     &trans     &trans    &trans  &none
            >;
        };

        layer_5 {
            bindings = <
&none  &none      &none           &none           &none            &none                       &none           &none           &none            &none            &none   &none
&none  &trans     &mkp MB4        &msc SCRL_UP    &mkp MB5         &trans                      &trans          &mkp MB4        &mmv MOVE_UP     &mkp MB5         &trans  &none
&none  &kp LSHFT  &mkp MB3        &mkp MB2        &mkp MB1         &trans                      &msc SCRL_UP    &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_RIGHT  &trans  &none
&none  &kp LCTRL  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans  &none     &none     &msc SCRL_DOWN  &msc SCRL_LEFT  &msc SCRL_RIGHT  &trans           &trans  &none
&none  &trans     &trans          &trans          &trans           &trans  &trans    &mkp MB1  &mkp MB2        &none           &none            &none            &trans  &none
            >;
        };

        layer_6 {
            bindings = <
&none  &none          &none          &none          &none          &none                                 &none          &none          &none          &none          &none           &none
&none  &bootloader    &trans         &trans         &bt BT_CLR     &bt BT_CLR_ALL                        &bootloader    &trans         &trans         &bt BT_CLR     &bt BT_CLR_ALL  &none
&none  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4                          &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4    &none
&none  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4   &none     &none       &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4   &none
&none  &trans         &trans         &trans         &trans         &trans          &trans    &bt BT_PRV  &bt BT_NXT     &none          &none          &none          &trans          &none
            >;
        };
    };
};
