#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none      &none       &none        &none        &none                                  &none        &none        &none        &none       &none      &none
&none  &kp SQT    &kp COMMA   &kp DOT      &kp P        &kp Y                                  &kp F        &kp G        &kp C        &kp R       &kp L      &none
&none  &kp A      &mt LALT O  &mt LCTRL E  &mt LSHFT U  &mt LGUI I                             &mt RGUI D   &mt RSHFT H  &mt RCTRL T  &mt RALT N  &kp S      &none
&none  &kp SEMI   &kp Q       &kp J        &kp K        &kp X        &none        &none        &kp B        &kp M        &kp W        &kp V       &kp Z      &none
&none  &kp EQUAL  &to 1       &lt 6 CAPS   &lt 2 TAB    &lt 5 ENTER  &lt 1 ESC    &lt 4 ENTER  &lt 3 SPACE  &none        &none        &none       &kp MINUS  &none
            >;
        };

        layer_1 {
            bindings = <
&none  &none      &none       &none        &none        &none                                  &none        &none        &none        &none       &none      &none
&none  &kp Q      &kp W       &kp E        &kp R        &kp T                                  &kp Y        &kp U        &kp I        &kp O       &kp P      &none
&none  &kp A      &mt LALT S  &mt LCTRL D  &mt LSHFT F  &mt LGUI G                             &mt RGUI H   &mt RSHFT J  &mt RCTRL K  &mt RALT L  &kp COMMA  &none
&none  &kp Z      &kp X       &kp C        &kp V        &kp B        &none        &none        &kp N        &kp M        &kp SQT      &kp COMMA   &kp FSLH   &none
&none  &kp EQUAL  &to 0       &lt 6 LALT   &lt 2 TAB    &lt 5 SPACE  &lt 1 ESC    &lt 4 SPACE  &lt 3 ENTER  &none        &none        &none       &kp MINUS  &none
            >;
        };

        layer_2 {
            bindings = <
&none  &none   &none     &none      &none      &none                       &none        &none     &none      &none      &none   &none
&none  &trans  &trans    &trans     &trans     &trans                      &key_repeat  &kp PG_UP &kp UP     &kp PG_DN  &trans  &none
&none  &trans  &kp LALT  &kp LCTRL  &kp LSHFT  &kp LGUI                    &kp BSPC     &kp LEFT  &kp DOWN   &kp RIGHT  &trans  &none
&none  &trans  &trans    &trans     &trans     &trans    &none     &none   &kp DEL      &kp HOME  &kp K_APP  &kp END    &trans  &none
&none  &trans  &trans    &trans     &trans     &trans    &trans    &trans  &trans       &none     &none      &none      &trans  &none
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans   &trans   &trans        &trans        &trans                      &trans            &trans     &trans         &trans     &trans      &trans
&trans  &kp F1   &kp F2   &kp F3        &kp F4        &kp F5                      &kp HOME          &kp PG_UP  &kp PAGE_DOWN  &kp END    &kp ESCAPE  &trans
&trans  &kp F6   &kp F7   &kp F8        &kp F9        &kp F10                     &kp LEFT          &kp DOWN   &kp UP_ARROW   &kp RIGHT  &kp TAB     &trans
&trans  &kp F11  &kp F12  &out OUT_USB  &out OUT_BLE  &bt BT_NXT  &trans  &trans  &kp SINGLE_QUOTE  &kp DQT    &kp GRAVE      &kp TILDE  &kp PIPE    &trans
&trans  &trans   &trans   &trans        &kp DELETE    &kp TAB     &trans  &trans  &trans            &trans     &trans         &trans     &trans      &trans
            >;
        };
    };
};
